@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
	background: var(--home);  
	background-size: cover;
	background-position: right; 
	background-attachment: fixed; 
	color: var(--text);
	font-family: Arial, sans-serif;
	margin: 0px;
}
.hero-wrapper {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
	overflow-x: hidden;
}
.hero {
	position: relative;
    text-align: center;
}
.features-title {
	font-weight: bold;
	font-size: 4.4vw;
	margin: 0;
	margin-bottom: 2.2vw;
	font-family: "Bam";
	text-align: center;
}
.features {
	min-height: auto;
	background: rgba(11, 11, 11, .11);
	padding-top: 2vw;
	padding-bottom: 2vw;
	width: 100%;
}
.points {
	display: flex;
	width: 100%;
}
.point {
	width: 20vw;
	min-height: 25vw;
	background: var(--theme);
	border-radius: 10px;
	text-align: center;
	margin-left: 5vw;
}
.point2 {
	width: 90vw;
	min-height: 25%;
	background: rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	text-align: center;
	margin-left: 5vw;
}
.recent-upd-container h1 {
		color: var(--theme-t);
		font-size: 4vw;
		text-align: center;
		font-weight: bold;
		text-align: center;
		font-family: "Title";
		text-shadow: var(--theme-t) 3px 0 10px;
}
.recent-upd-container h2 {
    margin: 0;
    font-family: "Bam";
  }

.recent-upd-container h3 {
    margin-bottom: 10px;
  }
  .add { color: #0bb351; }
  .remove { color: #e74c3c; }
  .update { color: #3498db; }
  .fix { color: #d5a60d; }
  .system { color: #b700ff; }
  .blocked { color: #bdc3c7; }
.point-title {
	font-weight: bold;
	font-size: 2.4vw;
	margin: 0;
	margin-bottom: .5vw;
	font-family: "Bam";
}
.point-desc {
	font-size: 1.2vw;
	margin-left: 2.3vw;
	width: 15.2vw;
}
.line {
	background-color: var(--theme-t);
    width: 84%;
    height: .5vw;
    border-radius: 50vw;
    margin-left: 8%;
    margin-top: .3vw;
}
.select {
	width: 85vw;
	min-height: 36vw;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	text-align: center;
	margin-left: 5vw;
	margin-bottom: 3vw;
}
.select .main {
	flex-direction: row;
    position: relative;
    display: flex;
    justify-content: center;
}
.select-title {
	font-weight: bold;
	font-size: 4.5vw;
	margin: 0;
	margin-top: 1vw;
	margin-bottom: 1vw;
	font-family: "Bam";
}
.select-desc {
	font-size: 2.5vw;
	margin-left: 3vw;
	margin-bottom: 1vw;
	width: 45vw;
}
.content {
	z-index: 2;
	display: flex;
	position: relative;
	align-items: center;
	height: 100vh;
	flex-direction: column;
	color: var(--text);
	font-family: "Raleway", sans-serif;
	margin-bottom: 6%;	
}
.content2 {
	display: flex;
	position: relative;
	align-items: center;
	height: 100%;
	flex-direction: column;
	color: var(--text);
	font-family: "Raleway", sans-serif;
	text-align: center;
}
.content2 h1 {
	color: var(--theme-t);
	font-size: 6em;
	text-align: center;
	font-weight: bold;
	text-align:center;
    font-family: "Title";
    text-shadow: var(--theme-t) 3px 0 10px;
	padding-top: 15%;
	padding-bottom: 3%;
	margin: 0;
  }
  .content2 a {
	color: var(--text);
	text-align:center;
	font-family: Arial, sans-serif;
  }
h1 {
	color: var(--theme-t);
	font-size: 5.5rem;
	text-align: center;
	font-weight: bold;
	text-align:center;
    font-family: "Title";
    text-shadow: var(--theme-t) 3px 0 10px;
  }

h2 {
	color: var(--text);
	text-align:center;
}
h1#font {
	margin-top: 14px;
}
#cover:hover {
	transition: transform 1s ease-in-out;

}
#cover:hover {
	transform: rotate(360deg);
}
#subtitle {
	color: var(--text);
	font-size: 1.5em;
	text-align: center;
	animation: subtitleAnim 1.5s ease-in-out infinite;
	-webkit-user-select: none;
	-ms-user-select: none; 
	user-select: none; 
	cursor: pointer;
}
#subtitle a {
	color: #aaaaff;
	font-size: 1.4em;
}
#subtitle a:visited {
	color: #aa55ff;
}
@keyframes subtitleAnim {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}


.button {
	background-color: var(--theme-ts);
	color: var(--text);
	text-shadow: var(--text-secondary) 1px 0 12px;
	width: 30vw;
	height: 5vw;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.2em;
	font-family: "Bam";
	padding: 8px 15px;
	text-decoration: none;
	margin-top: 15px;
	text-align: center;
	transition: transform 0.2s cubic-bezier(0, 0.55, 0.45, 1);
	border-radius: 10px;
 	box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.button:hover {
	transform: scale(1.15);
}
.button.play {
	font-size: 2.6em;
	margin-left: 8vw;
}
.button.play:hover {
	transform: scale(1.61);
}
.buttons {
	padding-top: 30px;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40vw;
	margin: 0;
  	border-radius: 5px;
}
.play {
	padding: 10px 17px;
	transform: scale(1.3);
}
.small {
	width: 20vw;
}	
body {
	box-sizing: border-box;
}
.bottom {
	margin-top: 30px;
	z-index: 2;
	font-size: 0.8em;
	color: var(--text-secondary);
	font-family: "Raleway", sans-serif;
	text-align: center;
}
.bottom p {
	margin: 0 9px;
}
.bottom p a {
	color: #aaaaff;
}
.infboxes {
	display: flex;
	justify-content: center;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
}
.square {
	width: 33%;
	height: 5%;
	background-color: var(--theme-t);
	box-shadow: 3px 3px 7px var(--theme-t);
	border-radius: 25px;
	display: inline-block;
	margin: 20px;
	text-align: center;
}
  .intxtbig {
	font-size: 4vw;
	margin-top: 15px;
	color: var(--text);
	font-weight: bold;
}
  .intxtsml {
	font-size: 1vw;
	margin-top: 5px;
	color: var(--text);
}  

a {
	color: var(--text);
}

.square a {
	color: rgb(169, 182, 149);
}

.changelog-entry ul {
	list-style-type: none;
	list-style-position: inside;
    margin-left: 0;
    padding-left: 0;
}