body[data-theme="default"] {
  --background: #000000;
  --theme: #4f0007;
  --theme-ts: #9d4750;
  --text: #e5e5e5;
  --text-secondary: #ffffff;
}

body[data-theme="light"] {
  --background: #bfbfbf;
  --theme: #d5d5d5;
  --theme-ts: #579eff;
  --text: #343437;
  --text-secondary: #111111;
}

body[data-theme="dark"] {
  --background: #000000;
  --theme: #242424;
  --theme-ts: #44444460;
  --text: #b89113;
  --text-secondary: #8f690a;
}

body[data-theme="sumpeach"] {
  --background: #08253d;
  --theme: #ff7190;
  --theme-ts: #a25062;
  --text: #ffffff;
  --text-secondary: #535353;
}

body[data-theme="con"] {
  --background: #17191d;      
  --theme: #1b71d9;           
  --theme-ts: #3a3f4b;     
  --text: #d0d0db;
  --text-secondary: #f4f3ff;
}  

body[data-theme="cansh"] {
  --background: #19597d;
  --theme: #c0c017;
  --theme-ts: #e4de1e60;
  --text: #de348c;
  --text-secondary: #970e0e;
}

body[data-theme="rblue"] {
  --background: #262033;
  --theme: #5a285a;
  --theme-ts: #442866;
  --text: #bdb9a2;
  --text-secondary: #fff5e3;
}

body[data-theme="classic"] {
  --background: #0d011c;
  --theme: #080d51;
  --theme-ts: #1e00b360;
  --text: #d4d4d4;
  --text-secondary: #9e9e9e;
}

body[data-theme="retro"] {
  --background: #564542;
  --theme: #493635;
  --theme-ts: #382929;
  --text: #edc3a1;
  --text-secondary: #ffe6d6;
}